h1{
  font-family: 'Ubuntu';
  font-weight: 400;
  text-transform: uppercase;
  float: left;
  display: block;
  width: 100%;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
}

h2{
  font-family: 'Ubuntu';
  font-weight: 100;
  text-transform: lowercase;
  float: left;
  display: block;
  width: 100%;
  font-size: 12px;
  margin-top: -10px;
  padding: 0;
}

.container{
  width: auto;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row{
  float: left;
  display: block;
  width: 100%;
}
.fa.fa-angle-right{
  float: right;
}

.btn{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-decoration: none;
  display: block;
  color: #4e4e4e;
  font-size: 22px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-family: 'Open sans', sans-serif;
  text-transform: uppercase;
}

.s1{
  background-color: #fff;
  width: 450px;
  height: 220px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 2px 5px #838383;
}


body{
  background-color: #41cd7c;
}

.infoc{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #4e4e4e;
  height: auto;
  width: 360px;
  line-height: -10px;
  text-align: center;
}

.est{
  float: left;
  font-family: 'Open sans', sans-serif;
  width: 119px;
  height: 80px;
  border-right: 1px solid #dddddd;
  line-height: 35px;
}

.handler{
  font-family: 'Open sans', sans-serif;
  float: left;
  width: 119px;
  height: 80px;
  border-right: 1px solid #dddddd;
  line-height: 35px;
}

.queue{
  font-family: 'Open sans', sans-serif;
  float: left;
  width: 120px;
  height: 80px;
  line-height: 35px;

}

.stat{
  margin-top: -10px;
}

img.icon{
  width: 40px;
  height: 40px;
  margin-bottom: 0px;
}
.icon i{
  font-size:40px;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

/*
  CODE FOR THE MENU
*/
html,body{
  margin: 0;
  padding: 0;
}
.menuToggle{
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  left: 20px;
  top:20px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  color: #41cd7c;
  font-size: 28px;
  background-color: #fff;
  box-shadow: 0 0 5px #888;
  z-index: 1;
}
.menuToggle:hover{
  cursor: pointer;
  box-shadow: 0 0 2px #888;
}
.menu{
  width: 208px;
  height: 100%;
  background-color: #333;
  position: fixed;
  left:-208px;
  z-index: 2;
}
.menu ul{
  padding: 0;
  margin: 0;
  width: 100%;
}
.menu ul li{
  list-style-type: none;
  display: block;
  width: 100%;
}
.menu ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'Open sans';
  border-bottom: 1px solid #717171;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  font-size: 15px;
}
.menu ul li a i{
  margin-right: 5px;
}
.menu ul li a:hover{
  background-color: #000;
}
.menu img{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 15px;
}
/* .end for the menu */


.login {
  margin-top: 20px;
  width:auto;
  height:auto;
  min-height: 100px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.login form {
  font-family: 'Ubuntu';
  font-size: 25px;
}

input[type=text].logintext {
    background-color: white;
    color: black;
    margin-right: 28px;
    border-radius: 3px;
    text-decoration:none;
    padding: 6px;
    font-size: 15px;
}

input[type=password].loginpass {
  background-color: white;
  color:black;
  border-radius: 3px;
  border-width: 1px;
  padding: 6px;
  font-size:15px;
}

input[type=submit].logininput{
  margin-top: 10px;
  width:150px;
  height:40px;
  background-color: #fff;
  font-family: 'Ubuntu';
  font-size: 20px;
  border-radius: 5px;
}

input[type=submit].logininput:hover {
  box-shadow: 0px 0px 10px;
}


h1.company {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Ubuntu';
}

.loginimage{
  width:200px;
  height: 200px;


}

.companyimagebackground{
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  text-align: center;
}
