body.dark,.squareTheme.dark{
  background: radial-gradient(#363636, #1c1c1c);
  background-attachment: fixed;
}
body.dark ul.btn_list li a{
  color: #333;
  box-shadow: 0px 3px 2px #000;
}
body.dark ul.btn_list li a:hover{
  box-shadow: 0px 1px 1px #000;
}
body.dark .btn,body.dark .fa-bars{
  color: #333;

}

/*
 * PASSIonate red
*/
body.red,.squareTheme.red{
  background: radial-gradient(#ef634d,#e14931);
}
body.red ul.btn_list li a,body.red .btn{
  color: #333;
}
body.red .fa-bars{
  color: #e14931;
}

/*
 * DEEP OCEAN BLUE
*/
body.blue ul.btn_list li a:hover{
  box-shadow: 0px 1px 1px #b33b2b;
}
body.blue,.squareTheme.blue{
  background: #36465d;
  background-size: cover;
}
body.blue ul.btn_list li a,body.blue .btn{
  color: #333;
}
body.blue .fa-bars{
  color: #36465d;
}


/*
 * ROSE GOLD
 */
 body.roseg ul.btn_list li a:hover{
   box-shadow: 0px 1px 1px #b33b2b;
 }
 body.roseg, .squareTheme.roseg{
   background: #f1c1bd;
   background-size: cover;
 }
 body.roseg ul.btn_list li a,body.roseg .btn{
   color: #333;
 }
 body.roseg .fa-bars{
   color: #36465d;
 }
 body.roseg ul.btn_list li a:hover{
   box-shadow: 0px 1px 1px #b33b2b;
 }


 /*
  * SUNSET
  */
  body.sunset ul.btn_list li a:hover{
    box-shadow: 0px 1px 1px #b33b2b;
  }
  body.sunset, .squareTheme.sunset{
    background-color: #e45654;
    background-repeat: repeat-x;
    background: linear-gradient(#ffb301, #e45654);
    background-attachment: fixed;
  }
  body.sunset ul.btn_list li a,body.sunset .btn{
    color: #333;
  }
  body.sunset .fa-bars{
    color: #e45654;
  }
  body.sunset ul.btn_list li a:hover{
    box-shadow: 0px 1px 1px #b33b2b;
  }


  /*
   * HEARTBREAK RED
   */
   body.heartbreak ul.btn_list li a:hover{
     box-shadow: 0px 1px 1px #b33b2b;
   }
   body.heartbreak, .squareTheme.heartbreak{
     background-color: #e45654;
     background-repeat: repeat-x;
     background: linear-gradient(#ab2c3b, #841a26);
     background-attachment: fixed;
   }
   body.heartbreak ul.btn_list li a,body.heartbreak .btn{
     color: #333;
   }
   body.heartbreak .fa-bars{
     color: #36465d;
   }
   body.heartbreak ul.btn_list li a:hover{
     box-shadow: 0px 1px 1px #b33b2b;
   }
